* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.page-header {
  background-color: #0D325A;
  height: 500px;
  background-image: url(../img/oldman.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 106% 106%;
}

.header-nav {
  width: 85%;
  margin: 0 auto;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 13px;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
}

.header-nav li {
  display: inline;
  padding: 0 10px;
}

.logo-link {
  margin-right: 30px;
}

.header-nav::after {
  content: '';
  display: table;
  clear: both;
}

.header-nav-left {
  float: left;
}

.header-nav-right {
  float: right;
}

.list-inline {
  list-style: none;
}

.list-inline-right {
  list-style: none;
}

.bannerbig {
  width: 85%;
  height: 420px;
  margin: 0 auto;
}

.bannerbig-testo {
  width: 35%;
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
}

.bannerbig-testo h1 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 40px;
}

.button {
  text-decoration: none;
  display: inline-block;
  line-height: 20px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 20px;
}
.button-right {
  text-decoration: none;
  display: inline-block;
  line-height: 20px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 12px;
}

.button-login {
  background-color: #0D325A;
  border: 1px solid #fff;
}

.button-green {
  background-color: #7CBB02;
}

.page-main {
  background-color: red;
  height: 800px;
}

.page-footer {
  background-color: yellow;
  height: 200px;
}
